# Default ignored files
/../../58. Length of Last Word /.idea/shelf/
/../../58. Length of Last Word /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../58. Length of Last Word /.idea/httpRequests/
# Datasource local storage ignored files
/../../58. Length of Last Word /.idea/dataSources/
/../../58. Length of Last Word /.idea/dataSources.local.xml
