# Default ignored files
/../../13. Roman to Integer /.idea/shelf/
/../../13. Roman to Integer /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../13. Roman to Integer /.idea/httpRequests/
# Datasource local storage ignored files
/../../13. Roman to Integer /.idea/dataSources/
/../../13. Roman to Integer /.idea/dataSources.local.xml
